src/components/img
src/data/tables
src/data/tables/markup-table
src/i18n/locales
src/pages
src/pages/admin
src/pages/admin/forms
src/pages/admin/maps
src/pages/admin/statistics
src/pages/admin/tables
src/pages/admin/tables/data-tables/data
src/pages/admin/ui/icons/sets
src/pages/admin/ui/icons/sets/disabled
src/pages/auth
src/scss
src/scss/icon-fonts
src/scss/icon-fonts/brandico
src/scss/icon-fonts/entypo
src/scss/icon-fonts/font-awesome
src/scss/icon-fonts/fontelico
src/scss/icon-fonts/glyphicons
src/scss/icon-fonts/iconicfill
src/scss/icon-fonts/iconicstroke
src/scss/icon-fonts/ionicons
src/scss/icon-fonts/maki
src/scss/icon-fonts/openwebicons
src/scss/icon-fonts/typicons
src/scss/icon-fonts/vuestic-icons
src/scss/icon-fonts/zocial
src/services
